<!DOCTYPE html>
<html>
<head>
  <title>Add a Campus</title>
</head>
<body>
  <nav>
    <li><a href="/">Home</a></li>
  </nav>
  <form action="/campuses" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="location" placeholder="Location">
    <button type="submit">Save</button>
  </form>
</body>
</html>