body {
  max-width: 960px;
  vertical-align: top;
  display: flex;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 15px;
  width: 90%;
  min-width: 150px;
  display: inline-block;
  vertical-align: top;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

main {
  width: 80%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 3vw;
    position: absolute;
    padding-bottom: 130px;
    margin-left: 100px auto;
  }
}

@media screen and (max-width: 500px) {
  #external-links {
    bottom: 0;
    position: absolute;
  }
}