#octopus {
	position: absolute;
	margin: 100px;
	margin-left: 100px;
	z-index: -1;
}

#glasses {
	position: absolute;
	margin: 200px;
	margin-left: 142px;
	z-index: 0;
}

#hat {
	position: absolute;
	margin: 80px;
	margin-top: 50px;
	z-index: 1;
}